.Stack {
  border: 1px solid $light-gray;
  border-radius: 4px;
  background: #fff;
  box-shadow: $standard-box-shadow;
  & > div {
    padding: 10px 20px;
    margin: 0;

    &:not(:last-child) {
      border-bottom: 1px solid $light-gray;
    }
  }
  &.--row > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    & > * {
      flex: 0 0 auto;
      margin: 0;
    }
  }
}
